.GuessData {
    padding:5px;
    background-color: #ccc;
    border-radius: 5px;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
}

.Expanded {
    background-color: #ccc;
}

.Details {
    box-sizing: content-box;
    height: 100%;
    width: 100%;
}

.Details h4 {
    margin: 0px;
    padding: 16px 0px 16px 5px;
}

.Stats {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.Stats p {
    margin: 0px;
    padding: 5px 5px 5px 20px;
}

.AllDetails {
    background-color: #eeeeee;
}