@value colors: "../../../css/colors.css";
@value primary1, primary2, tertiary1 from colors;

.Toolbar {
    height: 64px;
    width:100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: linear-gradient(primary1, primary2);
    box-sizing: border-box;
    padding: 0 20px;
}