.NavigationItemsToolbar {
    height: 100%;
}

.NavigationItemsToolbar ul {
    font-size: 20px;
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
}

@media(max-width: 500px) {
    .NavigationItemsToolbar {
        display: none;
    }
}

.NavigationItemsSideDrawer {
    height: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.NavigationItemsSideDrawer ul {
    color: black;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
}